<section class="no-padding" id="Gallery">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="#" id="pop">
                    <%= image_tag "creative/portfolio/1.jpg", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#bethel" class="portfolio-box">
                    <%= image_tag "creative/portfolio/2.jpg", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#bethel" class="portfolio-box">
                    <%= image_tag "creative/portfolio/3.jpg", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
              <a href="#bethel" class="portfolio-box">
                    <%= image_tag "creative/portfolio/4.jpg", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#" class="portfolio-box">
                    <%= image_tag "creative/portfolio/9.jpg", class: "img-responsive", alt: "" %>
                </a>
            </div>
             <div class="col-lg-4 col-sm-6">
               <a href="#bethel" class="portfolio-box">
                    <%= image_tag "creative/portfolio/6.jpg", class: "img-responsive", alt: "" %>
                </a>
            </div>
             <div class="col-lg-4 col-sm-6">
                <a href="#bethel" class="portfolio-box">
                    <%= image_tag "creative/portfolio/7.jpg", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#bethel" class="portfolio-box">
                    <%= image_tag "creative/portfolio/8.jpg", class: "img-responsive", alt: "" %>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="#bethel" class="portfolio-box">
                    <%= image_tag "creative/portfolio/5.jpg", class: "img-responsive", alt: "" %>
                </a>
            </div>
        </div>
    </div>

<!-- Creates the bootstrap modal where the image will appear -->
<div class="modal fade" id="imagemodal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Image preview</h4>
      </div>
      <div class="modal-body">
        <img src="" id="imagepreview" style="width: 400px; height: 264px;" >
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
</section>

